@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
 } 
 
 
 body{
 height: 100%;
 width: 100%;    
 overflow-x: hidden;
 font-family: "Baskervville SC", serif;
 }

 .allproductContainer{
     /* border: 1px solid red; */
 } 
 .product2ndcontainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: #E8EEEC;
}

.product2ndInnercontainer{
    /* border: 1px solid BLUE; */
    /* margin: 150px;/ */
    text-align: center;
    justify-items: center;
    margin: auto;
    
    
    
}
.product2ndInnercontainer .smallcont1{
    font-size: 20px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: column;
  padding-bottom: 100px;
  color: #365535;
  font-family: "Dancing Script", cursive;


}

.product2ndInnercontainer .smallcont{
    font-size: 30px;
    padding-bottom: 10px;
    color: #C2C7C5;
    font-weight: 800;
    margin-right: 60px;
    
    
}
.product2ndInnercontainer .smallcont2{
    color: #95b151;
    font-size: 30px;
    margin-right: 80px;

}
/* .productcontainer .overallGreenflower{
    border: 1px solid blue;
}
 */
.product2ndcontainer .overallGreenflower img{
    width: 500px;
}

@media screen and (max-width: 768px){
    
    .product2ndcontainer{
        /* border: 1px solid red; */
        margin: 3px;
        
    }

.product2ndInnercontainer{
    /* border: 1px solid BLUE; */
    text-align: start;
}

.product2ndInnercontainer .smallcont1{
    font-size: 15px;
    /* border: 1px solid red; */
    padding: 50px 0px 30px 0px;

}

.product2ndInnercontainer .smallcont{
    font-size: 20px;
    padding-bottom: 10px;
    margin-right: 40px;
    /* color: #C2C7C5; */
    font-weight: 600;
}

.product2ndInnercontainer .smallcont2{
    font-size: 25px;
    margin-right: 0px;
}

.product2ndcontainer .overallGreenflower img{
    width: 200px;
}

}
.Fiddle-leave{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
}
.Fiddle-leaveInner{
    /* border: 1px solid red; */
    width: 50%;
    
}
.Fiddle-leaveInner img{
    width: 100%;
    height: 600px;
    object-fit: contain;
    margin-top: 65px;
}

.Fiddle-leaveGlobalText{
    /* border: 1px solid red; */
    width: 50%;
    margin: 60px 0px 0px 10px;
    
}
.Fiddle-leaveGlobalText .Fiddle-leaveText{
    padding-bottom: 20px;
    font-size: 20px;
    color: #365535;
}
.Fiddle-leaveGlobalText p strong{
    color: #365535;
}
.Fiddle-leaveGlobalText p{
    color: #808286;
    font-weight: 800;
    padding-top: 10px;
}

.Fiddle-leavebutton{
    margin-top: 50px;
    display: flex;
}
.Fiddle-leavebutton p{
    color: #365535;
    margin-right: 10px;
}
.Fiddle-leavebutton #cart{
    width: 200px;
    border-radius: 7px;
    background-color: #365535;
    color: #fff;
    border: none;
}
.Fiddle-leavebutton #but{
    width: 80px;
    border-radius: 7px;
    border: 1px solid #365535 ;
    border-color: #365535;
    outline: none;
    margin-right: 10px;
    background-color: #E8EEEC;
    color: #000;
    padding: 10px;
    
}

@media screen and (max-width: 768px){
    .Fiddle-leaveInner{
        width: 30%;
        /* height: 400px; */
    }
    .Fiddle-leaveInner img{
        height: 200px;
        margin-top: 0px;
        padding-top: 20px;
        
    }
    .Fiddle-leavebutton #cart{
        width: 150px;
        margin-right: 10px;
    }

.Fiddle-leaveGlobalText{
    /* border: 1px solid red; */
    width: 70%;
    margin: 17px 0px 0px 10px;
    
}
.Fiddle-leaveGlobalText .Fiddle-leaveText{
    padding-bottom: 20px;
    font-size: 15px;
    color: #365535;
}
.Fiddle-leaveGlobalText p{
    font-weight: 400;
    flex-wrap: wrap;
}
}

.productButton{
    /* border: 1px solid red; */
    text-align: center;
    justify-content: center;
    margin:0px auto;
    margin: 30px 0px;
    
}
.productButton .prod{
    padding: 15px;
    width: 300px;
    margin-right: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #365535;
}
.productButton .info{
    width: 200px;
    border-radius: 10px;
    padding: 15px;
    color: #365535;
    outline: none;
    border: none;
    
}
@media screen and (max-width: 768px){
    .productButton .prod{
        padding: 10px;
        width: 150px;
    } 
    .productButton .info{
        width: 200px;
        border-radius: 10px;
        padding: 10px;  
    }
}

.ficusContainer{
    width: 80%;
    text-align: center;
    margin: 0px auto;
    justify-items: center;
    color: #98948f;
}

@media screen and (max-width: 768px){
    .ficusContainer{
        width: 90%;
        justify-items: center;
          
    }

}
.relatedContainer h2{
   text-align: center;
   margin: 20px;
   color: #365535;
}
.relatedImagecontainer{
    /* border: 1px solid red; */
    width: 98%; 
    display: flex;
    justify-content: center;
    margin: 0px auto;
    gap: 15px;
}
.relatedImagecontainer img{
   width:25%;
}

.updatedContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-top: 150px;
}

.updatedinnerContainer{
    /* border: 1px solid blue; */
    width: 400px;
    margin-right: 40px;
    /* font-size: 30px; */

}

.updatedinnerContainer p{
    font-weight: 900;
    font-size: 20px;
    color: #365535;
}

.updatedContaine .updatedContainer{
    display: flex;
    gap: 10px;
    margin-right: 20px;
   

}
.updatedContainer .updatedminiContainer .firstupdated{
    width: 300px;
    padding: 10px;
    text-align: left;
    color: #888A7E;
    font-weight: 500;
    background-color: #E8EEEC;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer
}
.updatedContainer .updatedminiContainer .secondupdated{
    width: 250px;
    padding: 10px;
    color: #fff;
    background-color: #365535;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .updatedContainer{
        /* border: 1px solid red; */
        width: 350px;
        flex-wrap: wrap;
        padding: 40px;
    }
    
    .updatedinnerContainer{
        width: 100%;
        font-size: 20px;
        
    }
    
    .updatedinnerContainer p{
        font-weight: 900;
        margin-bottom: 20px;
        font-size: 20px;
        
    }
    .updatedContainer .updatedminiContainer{
        flex-wrap: wrap;
        gap: 10px;
        margin-right: 20px;
       
    }
    
    .updatedContainer .updatedminiContainer .firstupdated{
        width: 350px;
        margin-bottom: 20px;
        
    }
    
    .updatedContainer .updatedminiContainer .secondupdated{
        width: 350px;
    
    
      
    }
}


