* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --black-primary: black;
  --lunar-green: #354733;
  --lunar-green-primary: #365535;
  --primary-green: #95b951;
  --hero-bg: #e8eeec;
  --bg-white: #ffffff;
  --golden: #7f8260;
  --text-gray: #808276;
}

section {
  min-height: 100vh;
  padding: 10rem 100px 2rem;
}

span {
  color: var(--primary-green);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--hero-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  z-index: 100;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.navbar ul li a {
  font-size: 1.5rem;
  color: var(--lunar-green-primary);
  padding: 16px;
  font-weight: 400;
  font-family: "Lora", sans-serif;
  transition: color 0.15s;
}
.navbar ul li a:active {
  border-bottom: 3px solid var(--primary-green);
}
.navbar ul li a:hover {
  color: var(--primary-green);
}

.nav-icons i {
  margin-left: 16px;
  color: var(--lunar-green-primary);
}

/* <!-- HERO SECTION  --> */

.hero {
  background-color: var(--hero-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  /* gap: 16px; */
  /* align-items: center; */
}
.hero-content {
  /* width: 80%; */
}

.caption {
  display: flex;
  align-items: center;
  font-family: "Pacifico", sans-serif;
  gap: 10px;
}

.stroke {
  width: 32px;
  height: 3px;
  background-color: var(--lunar-green-primary);
}

.hero-heading {
  font-size: 64px;
  font-weight: lighter;
  font-family: "belleza", sans-serif;
  color: var(--lunar-green-primary);
  max-width: 800px;
  margin-top: 24px;
}

.hero-paragraph {
  font-family: "Lora", sans-serif;
  line-height: 154.5%;
  color: var(--golden);
  max-width: 600px;
  margin-top: 24px;
}

.hero-btn button {
  background-color: var(--lunar-green-primary);
  color: #ffffff;
  font-family: "lora", sans-serif;
  font-size: 20px;
  border-radius: 15px;
  width: 240px;
  height: 56px;
  margin-top: 24px;
}

.left-img {
  /* border: 1px solid red; */
  margin-top: -100px;
  height: 500px;
  margin-left: -100px;
  width: 400px;
}

.left-img img {
  object-fit: contain;
  width: calc(100% - 100px);
  height: 100%;
}

.hero-img {
  margin-top: -160px;
  /* width: 50%; */
  margin-left: 100px;
  height: 100vh;
}

.hero-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* width: 80%;
  object-position: right; */
}

.company-data {
  display: flex;
  font-size: 40px;
  font-family: "Lora", sans-serif;
  font-weight: bold;
  color: var(--lunar-green-primary);
  gap: 48;
  margin-top: -200px;
  margin-left: 65px;
}

.company-data p {
  font-size: 16px;
}

.customers {
  margin-left: 48px;
  padding-left: 48px;
  border-left: 3px solid var(--lunar-green-primary);
}

/* <!-- CARE OF PLANTS SECTION  -->  */

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.section-heading h2 {
  font-size: 64px;
  font-weight: lighter;
  font-family: "belleza", sans-serif;
  color: var(--lunar-green-primary);
}

.section-heading p {
  font-size: 24px;
  color: var(--golden);
  font-family: "lato", sans-serif;
  font-weight: bold;
}

.section-heading i {
  margin-left: 10px;
}

.products .paragraph {
  margin-top: 3px;
  font-family: "Lora", sans-serif;
  line-height: 154.5%;
  color: var(--text-gray);
  max-width: 850px;
}
.care-of-plants-steps {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 111px;
}
.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-icon {
  background-color: var(--lunar-green);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  align-items: center;
  margin-top: 24px;
}
.step-icon img {
  width: 24px;
  margin: 23.5px 23.5px;

  /* margin: 20px 23px; */
}

.step-heading {
  font-family: "Lora", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: var(--lunar-green-primary);
  margin: 20px auto;
}

.step-item p {
  margin-top: 3px;
  font-family: "Lora", sans-serif;
  line-height: 154.5%;
  color: var(--text-gray);
  text-align: center;
  max-width: 330px;
}
